@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.ttf');
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins' , sans-serif;
}

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131419;

}

.container{
    max-width: 768px;
    padding: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #131419;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) , -3px -3px 7px rgba(255, 255, 255, 0.05);
}
.keys{
    display: flex;
    justify-content: center;
}

.keys > button{
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #131419;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) , -3px -3px 7px rgba(255, 255, 255, 0.05);
    margin: 10px;
    color: #c7c7c7;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.keys .pressed{
    font-size: 19px;
    color: #eeff00;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5) , inset -3px -3px 7px rgba(255, 255, 255, 0.05);
}